
/* Section 01 */
.section-01{position:relative;}
.section-01 .slide > .wrapper{
  display:flex; align-items:center; width:100vw; height:100vh; padding:2rem 0 0 0;
  background-size:cover; background-position:center; background-repeat:no-repeat;
}
.section-01 .arrows{
  position:absolute; bottom:0; left:0; width:100%; pointer-events:none; z-index:1;
  padding:2rem 0;
}
.section-01 .arrows > .container{text-align:right;}
.section-01 .arrow{
  border-radius:50%; opacity:0; margin:0 0 0 auto; pointer-events:auto; z-index:1;
  display:flex; align-items:center; justify-content:center; width:3rem; height:3rem;
  cursor:pointer; transition:background .25s, color .25s, opacity .25s;
}
.section-01:hover .arrow{opacity:1;}
.section-01 .arrow.arrow-prev{transform:translateX(-3.5rem);}
@media screen and (max-width:991.98px){
  .section-01 .arrows{padding:1.75rem 0;}
  .section-01 .arrow{width:2.75rem; height:2.75rem;}
  .section-01 .arrow.arrow-prev{transform:translateX(-3.25rem);}
  .section-01 .arrow > svg{transform:scale(.9);}
}
@media screen and (max-width:767.98px){
  .section-01 .arrows{padding:1.25rem 0;}
  .section-01 .arrow{width:2.5rem; height:2.5rem;}
  .section-01 .arrow.arrow-prev{transform:translateX(-3rem);}
  .section-01 .arrow > svg{transform:scale(.8);}
}


/* Section 02 */
.section-02{padding:1rem 0;}
.section-02 .btn-wrapper{text-align:right;}
@media screen and (max-width:767.98px){
  .section-02 .text-wrapper, .section-02 .btn-wrapper{text-align:center;}
  .section-02 .btn-wrapper{margin:1rem 0 0 0;}
}


/* Section 03 */
@media screen and (max-width:991.98px){
  .section-03 .img-wrapper{margin:2.5rem 0 0 0;}
}
@media screen and (min-width:992px){
  .section-03.reverse .grids{direction:rtl;}
}


/* Section 09 */
.section-09{
  position:relative; min-height:500px;
  background-size:cover; background-repeat:no-repeat; background-position:center;
}
.section-09 > .bg-filter{position:absolute; top:0; bottom:0; left:0; right:0;}


/* Section Footer */
.form input[type=text], input[type="submit"] {border-radius: 0 !important;}
@media screen and (max-width:575.98px){
   .section-footer ul {min-height:0 !important;}
}

.section-copyright {padding:1rem;}


.section-pro-01{
  height:100vh;
  background-size:cover; background-repeat:no-repeat; background-position:center;
}
.section-pro-01 h1{font-size:3.4375rem;}

.section-pro-02 {
  position:relative; min-height:500px; background-attachment: fixed;
  background-size:cover; background-repeat:no-repeat; background-position:center;
}
.section-pro-02 {font-size:2.5rem;}

/* Right content */
.right-content ul {list-style-type: none;}
.right-content .contact-container p {color: var(--color-white);}
.right-content .contact-container p:first-child {color: var(--color-01);}
