
/* Section 01 */
.section-01 .slide-container{position:relative;}
.section-01 .slide > .wrapper{
  display:flex; align-items:center; width:100vw; height:100vh; padding:2rem 0 0 0;
  background-size:cover; background-position:center; background-repeat:no-repeat;
}


/* Section 02 */
.section-02{padding:1rem 0;}
.section-02 .btn-wrapper{text-align:right;}
@media screen and (max-width:767.98px){
  .section-02 .text-wrapper, .section-02 .btn-wrapper{text-align:center;}
  .section-02 .btn-wrapper{margin:1rem 0 0 0;}
}


/* Section 03 */
@media screen and (max-width:991.98px){
  .section-03 .img-wrapper{margin:2.5rem 0 0 0;}
}
@media screen and (min-width:992px){
  .section-03.reverse .grids{direction:rtl;}
}


/* Section 09 */
.section-09{
  position:relative; min-height:500px;
  background-size:cover; background-repeat:no-repeat; background-position:center;
}
.section-09 > .bg-filter{position:absolute; top:0; bottom:0; left:0; right:0;}


/* Section Footer */
.form input[type=text], input[type="submit"] {border-radius: 0 !important;}
@media screen and (max-width:575.98px){
   .section-footer ul {min-height:0 !important;}
}

.section-copyright {padding:1rem;}


.section-demo-01{
  width:100vw; height:100vh;
}

.section-pro-01{
  width:100vw; height:100vh;
}

/* Right content */
.right-content ul {list-style-type: none;}
.right-content .contact-container p {color: var(--color-white);}
.right-content .contact-container p:first-child {color: var(--color-01);}
