
/* Topnav */
nav.topnav{
  position:fixed; top:0; left:0; width:100%; z-index:90;
  transition:box-shadow .25s, background .25s;
}
nav.topnav .topnav-wrapper{
  position:relative; min-height:4.25rem;
  display:flex; align-items:center; justify-content:space-between;
}
nav.topnav .block-left, nav.topnav .block-right{display:flex; align-items:center;}

nav.topnav .logo{display:block; margin:0 1.5rem 0 0;}
nav.topnav .logo > img{display:block; height:2.5rem; width:auto;}
nav.topnav .logo > img.show-xs{display:none; height:2.875rem;}

nav.topnav .menu-container{display:flex; align-items:center;}
nav.topnav .menu{
  position:relative; padding:2rem 0; margin:0 .875rem; transition:padding .25s;
}
nav.topnav.sticky .menu{padding:1.375rem 0;}
nav.topnav .menu > *:first-child{
  display:block; font-size:1rem; letter-spacing:.05rem; font-weight:700; cursor:pointer;
}
nav.topnav .menu > .dropdown{
  position:absolute; top:calc(100% + .5rem); left:-.875rem;
  opacity:0; pointer-events:none; border:1px solid transparent;
  transition:opacity .25s, top .25s;
}
nav.topnav .menu:hover > .dropdown{top:100%; opacity:1; pointer-events:auto;}
nav.topnav .submenu-container{min-width:12rem; padding:.625rem 0;}
nav.topnav .submenu{position:relative;}
nav.topnav .submenu > *:first-child{
  display:block; font-size:1rem; padding:.625rem .875rem; letter-spacing:.05rem;
  font-weight:500; cursor:pointer; transition:background .25s, color .25s;
}

nav.topnav .sidenav-toggle{
  display:none; padding:1rem .75rem; transform:translateX(.75rem); cursor:pointer;
}

.topnav-spacer{display:block; width:100%;}
.topnav-spacer.has-bg{height:5.5rem;}

@media screen and (max-width:1199.98px){
  nav.topnav .menu-container{display:none;}
  nav.topnav .sidenav-toggle{display:block;}
  .topnav-spacer.has-bg{height:4.25rem;}
}
@media screen and (max-width:767.98px){
  nav.topnav .logo > img.show-xs{display:block;}
  nav.topnav .logo > img.hide-xs{display:none;}
}


/* Sidenav */
nav.sidenav{
  display:none; position:fixed; top:0; right:0; width:270px; height:100vh; z-index:92;
  transform:translateX(270px); transition:transform .45s;
}
nav.sidenav.active{transform:translateX(0);}
nav.sidenav + .sidenav-filter{
  display:none; position:fixed; top:0; left:0; width:100vw; height:100vh; z-index:91;
  cursor:pointer; pointer-events:none; opacity:0; transition:opacity .45s;
}
nav.sidenav.active + .sidenav-filter{pointer-events:auto; opacity:1;}

nav.sidenav > .wrapper{position:relative; width:100%; height:100%;}
nav.sidenav .sidenav-toggle{
  display:flex; align-items:center; justify-content:center;
  width:4.25rem; height:4.25rem; cursor:pointer; margin:0 0 0 auto;
}
nav.sidenav .scroll-wrapper{
  width:100%; max-height:calc(100% - 8rem); overflow-x:hidden; overflow-y:auto;
  padding:1rem 0;
}
nav.sidenav .menu > *:first-child{
  display:block; font-size:1.3125rem; letter-spacing:.075rem; font-weight:600; cursor:pointer;
  padding:.5rem 1rem .5rem 1.5rem; transition:background .25s, color .25s;
}
nav.sidenav .submenu-container{padding:0 0 .75rem 0;}
nav.sidenav .submenu > *:first-child{
  display:block; font-size:1.125rem; letter-spacing:.05rem; font-weight:400; cursor:pointer;
  padding:.25rem 1.25rem .25rem 2rem; transition:background .25s, color .25s;
}

@media screen and (max-width:1199.98px){
  nav.sidenav{display:block;}
  nav.sidenav + .sidenav-filter{display:block;}
}


/* Footer */
nav.footer .logo > img{display:block; width:100%; max-width:13rem; height:auto;}
@media screen and (max-width:991.98px){
  nav.footer .menu-container{padding:2.5rem 0;}
}
@media screen and (max-width:991.98px){
  nav.footer .menu-container{padding:.5rem 0 2.5rem 0;}
  nav.footer .menu-title{margin:2rem 0 0 0;}
}


/* Social Bar */
.icon-bar {position: fixed; right: 0; top: 50%; transform: translateY(-50%); z-index: 2;}
.icon-bar a {
  display: block; text-align: center; padding: 16px; 
  transition: all 0.3s ease; color: white;font-size: 20px;
}
.icon-bar a:hover {background-color: #000;}

